.container {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .loadingContainer {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .loadingText {
    margin-top: 10px;
  }
  
  .noteContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .noteText {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .noteImage {
    width: 150px;
    height: 150px;
  }
  