.container {
	flex: 1;
	padding: 30px;
	background-color: black;
}

.button {
	margin-bottom: 100px;
}

.imageContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0;
}

.image {
	width: 150px;
	height: 150px;
	margin: 5px;
}

.resultsContainer {
	margin-bottom: 20px;
}

.resultText {
	margin-bottom: 10px;
	font-size: 16px;
}
